.indicator {
    display: flex;
    align-items: center;
}

.img {
    width: 30px;
    margin-right: 10px;
}

.text {
    width: 100%;
    font-family: 'Overpass';
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    text-transform: capitalize;
}

.lower { text-transform: lowercase; }
