@font-face {
    font-family: 'Inter';
    font-weight: normal;
    src: url(../public/font/Inter/static/Inter-Thin.ttf);
}

@font-face {
    font-family: 'Overpass';
    font-weight: normal;
    src: url(../public/font/Overpass/static/Overpass-Light.ttf);
}

.App {
    margin: 0 auto;
    font-family: "Inter";
    color: #FFFFFF;
    font-weight: 600;
}